#skills {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 100%;
  max-width: 65rem;
  margin: 0 auto;
  padding: 4rem 2rem;
  background: rgb(30, 30, 30);
  box-sizing: border-box;
  margin-top: 5rem;
}

.skillTitle {
  font-size: 2rem;
  font-weight: 600;
  margin-top: -4rem;
}

.skillDesc {
  font-size: 1rem;
  max-width: 800px;
  line-height: 1.5;
  margin: 1.5rem 0;
  font-weight: 300;
}

.skillBars {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  flex-wrap: wrap;
  gap: 2rem;
}

.skillBar {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  flex-basis: 70%;
  margin-bottom: 3rem;
  background: linear-gradient(to bottom, rgb(30, 30, 30), rgb(50, 50, 50));
  border-radius: 3vw;
  padding: 1rem;
}

.skillBarImg {
  width: 3rem;
  height: 3rem;
  margin-right: 1rem;
}

.skillBarText {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: left;
  padding: 0.5rem;
}

.skillBarText h3 {
  font-size: 1.2rem;
  font-weight: 500;
}

.skillBarText p {
  font-size: 1rem;
  color: rgb(180, 180, 180);
}

@media screen and (max-width: 768px) {
  .skillBars {
    flex-direction: column;
    align-items: center;
  }

  .skillBar {
    flex-basis: 100%;
    align-items: center;
    text-align: center;
  }

  .skillBarImg {
    width: 3.5rem;
    height: 3.5rem;
    margin-bottom: 1rem;
  }

  .skillBarText {
    padding: 0.5rem 0;
  }
}
